

VENDOR_CONCURRENCY_TRACKER=redis
VENDOR_DATABASE=postgres
VENDOR_MESSAGING=rabbitmq


POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASS=postgres
POSTGRES_DATABASE=postgres


RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_PUBLIC_VIRTUAL_HOST=/
RABBITMQ_PRIVATE_VIRTUAL_HOST=/
RABBITMQ_USERNAME=rabbitmq
RABBITMQ_PASSWORD=rabbitmq


REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_CONCURRENCY_TRACKER_TTL_SECONDS=60


CORS_PATTERN=*
CORS_ALLOWED_ORIGINS=*
CORS_ALLOWED_METHODS=*
CORS_ALLOWED_HEADERS=*
CORS_ALLOW_CREDENTIALS=true


KEYCLOAK_URL=localhost
KEYCLOAK_REALM=heroes


PRIVATE_CONSUMER_FILE_CREATED_CONCURRENCY=1
PRIVATE_CONSUMER_FILE_CREATED_MAX_ATTEMPTS=1
PRIVATE_CONSUMER_ACL_UPDATED_CONCURRENCY=1
PRIVATE_CONSUMER_ACL_UPDATED_MAX_ATTEMPTS=1
OUTBOX_RELAY_FIXED_RATE=10000

